* {
  margin: 0;
  padding: 0;
}

.content {
  margin: 6px;
}

body {
  font-family: calibri;
}

.header {
	display: flex;
	align-items: center;
	background-color: black;
	padding: 15px;
}

.header a {
	color: grey;
	text-decoration: none;
	padding-right: 7px;
}

.header a:hover {
	color: white;
}
